/*  
  акцентный цвет: #2196f3;
  цвет заголовка: #212121;
  цвет текста: #757575;
  светлый цвет тескта: #ffffff;
  основной шрифт: "Roboto", sans-serif;
  шрифт в лого: "Raleway", sans-serif;
  размер шрифта заголовка: 36px;
  размер основного текста: 14px;
  основной цвет фона: #FFFFFF;
  дополнительный цвет фона: #F5F4FA;
  цвет фона футера: #2F303A;
  */
:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --light-color: #ffffff;
  --font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --title-font-size: 36px;
  --text-font-size: 14px;
  --primary-bg-color: #ffffff;
  --seckond-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
/* HEDDER */
.page-header .container {
  height: 80px;
}
.page-header {
  display: flex;
  background-color: lime;
}
/* LOGO */
.page-header .logo {
  position: absolute;
  width: 153px;
  height: 31px;
  margin-left: 0px;
  padding-top: 24px;
}
.page-header .logo-blue {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.page-header .logo-black {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
/*
.site-nav,
.address-header {
  margin-top: 0px;
  margin-bottom: 0px;
  outline: 2px solid tomato;
}*/
.page-header .site-nav {
  outline: 2px solid tomato;
  position: absolute;
  width: 294px;
  height: 48px;
  margin-left: 215px;
  margin-top: 32px;
  padding: 0px;
}
.page-header .site-nav {
  display: flex;
  width: 294px;
  height: 48px;
  font-family: var(--font-family);
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav li {
  outline: 2px solid tomato;
  margin-right: 50px;
}
.site-nav li:last-child {
  margin-right: 0px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.address-header {
  outline: 2px solid tomato;
  padding: 0px;
  margin-left: 843px;
  margin-top: 32px;
  width: 333px;
  height: 16px;
  display: flex;
}
.address-header li,
.address-header ul {
  margin-right: 30px;
}
.address-header li:last-child {
  margin-right: 0px;
}
.address-header .e-mail,
.address-header .phone {
  font-family: var(--font-family);
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address-header a:hover,
.address-header a:focus {
  color: var(--accent-color);
}
/* MAIN */
/* HERO */

.hero .container {
  outline: 2px solid tomato;
  padding-top: 200px;
  margin-bottom: 94px;
  text-align: center;
  width: 1230px;
  height: 600px;
}
.hero h1 {
  background-color: lime;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero .box {
  position: absolute;
  margin-top: 30px;
  margin-left: 500px;
  margin-bottom: 294px;
  /*margin-top: 430px;*/
  padding: 10px 32px;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  /*по макету 0.06, но тогда в две строки*/
  color: var(--light-color);
}

/* ADVANTAGES */

.advantages .container {
  width: 1170px;
  height: 251px;
  padding: 0px;
  margin-bottom: 94px;
}
.advantages ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.advantages li {
  outline: 2px solid tomato;
  padding: 0px;
  margin-right: 30px;
  width: 270px;
  height: 251px;
}
.advantages li:last-child {
  margin-right: 0px;
}
.advantages .hidden {
  visibility: hidden;
  font-size: 0;
}
.advantages .title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages .text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* DIRECTIONS */

.directions .container {
  width: 1170px;
  height: 386px;
  margin-bottom: 94px;
  padding: 0px;
}

.directions .big-title {
  outline: 2px solid tomato;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 377px; /* в макете 336px*/
  height: 42px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.directions .title {
  width: 370px;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background: rgba(47, 48, 58, 0.8);
}

.directions ul {
  display: flex;
  padding: 0px;
  width: 370px;
  height: 294px;
}
.directions li {
  display: inline-block;
  margin-right: 30px;
}
.directions li:last-child {
  margin-right: 0px;
}
/* TEAM */

.team .container {
  margin-top: 0px;
  margin-bottom: 94px;
  padding-top: 94px;
  width: 1230px;
  height: 702px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.team {
  background-color: var(--seckond-bg-color);
  margin-bottom: 94px;
}
.team h2 {
  outline: 2px solid tomato;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 265px; /*по  макету 264px*/
  height: 42px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/*
.team .img {
  padding: 0px;
}*/
.team h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 157px;
  height: 19px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team p {
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px auto 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 16px 32px 24px;
  display: inline-block;
  padding: 1px 1px;
  border-radius: 10px;
  font-family: var(--font-family);
  color: var(--text-color);
}
.team a:hover,
.team a:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}
.team ul {
  display: flex;
  padding: 0px;
}

.team .team-list {
  width: 270px;
  height: 422px;
  margin-right: 30px;
  padding-left: 0px;
}
.team-list:last-child {
  margin-right: 0px;
}
.team .soc-cont {
  display: inline-block;
  font-size: 15px;
}

/* CUSTOMERS */
.customers .container {
  margin-top: 0px;
  margin-bottom: 94px;
  padding: 0px;
  width: 1200px;
  height: 182px;
  outline: 2px solid tomato;
}
.customers h2 {
  outline: 2px solid tomato;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 391px; /*в макете 390px*/
  height: 42px;
  padding: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.customers ul {
  display: flex;
  padding: 0px;
}
.customers li {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  width: 170px;
  height: 90px;
}

/* PORTFOLIO */
.portfolio .container {
  outline: 2px solid tomato;
  width: 1200px;
  height: 1360px;
  margin-top: 93px;
}

.portfolio-info,
.portfolio-info ul {
  padding-left: 0px;
  width: 370px;
  height: 404px;
}

.portfolio-sorting {
  margin-left: auto;
  margin-right: auto;
  width: 611px;
  height: 54px;
  outline: 2px solid tomato;
}
.portfolio-sorting ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 34px;
  width: 611px;
  height: 54px;
  padding: 0px;
  margin: 0px;
}
.portfolio-sorting a {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.portfolio-sorting a:hover,
.portfolio-sorting a:focus {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--accent-color);
  color: var(--light-color);
}

.portfolio-sorting li {
  display: inline-block;
  padding: 0px;
  margin: 0px, 8px, 16px;
}
.portfolio-sorting li:first-child {
  margin-right: auto;
}
.portfolio-sorting li:last-child {
  margin-left: 8px;
}

.portfolio-info {
  outline: 2px solid tomato;
  margin-top: 34px;
}
.portfolio-info ul {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.portfolio-info li {
  margin-right: 30px;
}
.portfolio-infoli:last-child {
  margin-right: 0px;
}
.portfolio-info h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  visibility: hidden;
  font-size: 0;
}
.portfolio-info .text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--light-color);
  background-color: lime;
}
.portfolio-info .title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: var(--title-font-size);
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-info .category {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* FOOTER */
.footer .container {
  outline: 2px solid tomato;
  width: 1230px;
  height: 253px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.footer {
  background-color: var(--footer-bg-color);
}
.logo-footer {
  outline: 2px solid tomato;
  display: inline-block;
  width: 153px;
  height: 31px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px; /*
  margin-left: 14px;
  margin-top: 1673px;*/
}
.logo-footer .logo-blue {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--accent-color);
}
.logo-footer .logo-black {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.address-footer {
  outline: 2px solid tomato;
  margin-right: 0px;
  margin-top: 8px;
  outline: 2px solid tomato;
  width: 231px;
  height: 81px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-font-size);
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.address-footer a {
  color: rgba(255, 255, 255, 0.6);
}
.address-footer ul {
  padding-left: 0px;
}
.address-footer li {
  padding-left: 0px;
}
.social {
  outline: 2px solid tomato;
  width: 206px;
  height: 80px;
}
.social b {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.social a {
  display: inline-block;
  padding: 1px 1px;
  border-radius: 8px;
  font-family: var(--font-family);
  background-color: var(--text-color);
  color: var(--light-color);
}
.social a:hover,
.social a:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}
.social ul {
  display: flex;
  width: 206px;
  height: 44px;
  padding: 0px;
}
.social li {
  padding: 0px;
}
.subscribe {
  outline: 2px solid tomato;
  width: 570px;
  height: 86px;
}
.subscribe b {
  width: 358px;
  height: 50px;
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.subscribe [type="text"] {
  display: flex;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.subscribe [type="submit"] {
  display: flex;
  margin: 0px;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
.footer p {
  outline: 2px solid tomato;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
