/*  
  акцентный цвет: #2196f3;
  цвет заголовка: #212121;
  цвет текста: #757575;
  светлый цвет тескта: #ffffff;
  основной шрифт: "Roboto", sans-serif;
  шрифт в лого: "Raleway", sans-serif;
  размер шрифта заголовка: 36px;
  размер основного текста: 14px;
  основной цвет фона: #FFFFFF;
  дополнительный цвет фона: #F5F4FA;
  цвет фона футера: #2F303A;
  */
:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --light-color: #ffffff;
  --font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --title-font-size: 36px;
  --text-font-size: 14px;
  --primary-bg-color: #ffffff;
  --seckond-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  outline: 2px solid tomato;
}
body {
  margin: 0px;
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEDDER */

header {
  position: absolute;
  width: 1600px;
  height: 81px;
  margin-left: 0px;
  margin-top: 0px;
}

header .logo {
  position: absolute;
  width: 153px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;
}
header .logo-blue {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
header .logo-black {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

header nav {
  position: absolute;
  width: 294px;
  height: 48px;
  margin-left: 453px;
  margin-top: 32px;
  padding: 0px;
}
header ul {
  padding: 0px;
  margin: 0px;
}
header li {
  display: inline-block;
}
header li:nth-child(2) {
  margin: 0px 46px 32px 46px;
}
header li:nth-child(2n + 1) {
  margin: 0px 0px 32px;
}

.site-nav .link {
  font-family: var(--font-family);
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.address-header a {
  font-family: var(--font-family);
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address-header a:hover,
.address-header a:focus {
  color: var(--accent-color);
}
.address-header .e-mail {
  display: inline-block;
  position: absolute;
  width: 161px;
  height: 16px;
  margin-left: 1052px;
  margin-top: 32px;
}
.address-header .phone {
  display: inline-block;
  position: absolute;
  width: 142px;
  height: 16px;
  margin-left: 1243px;
  margin-top: 32px;
}
/* MAIN */

/* HERO */
.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  margin-left: 0px;
  margin-top: 80px;
}
.hero h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  margin-left: 452px;
  margin-top: 280px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero .box {
  position: absolute;
  margin-left: 732px;
  margin-top: 440px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  /*по макету 0.06, но тогда в две строки*/
  color: var(--light-color);
}

/* ADVANTAGES */
.advantages {
  position: absolute;
  width: 1170px;
  height: 251px;
  margin-left: 215px;
  margin-top: 774px;
  margin-right: auto;
  padding: 0px;
}
.advantages ul {
  padding: 0px;
  position: absolute;
  width: 270px;
  height: 251px;
  margin: 0px;
}
.advantages li {
  display: inline-block;
  margin-right: 30px;
}
.advantages h2 {
  font-family: var(--font-family);
  visibility: hidden;
  font-size: 0;
}
.advantages .title {
  margin: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages .text {
  margin: 0px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.advantages > li {
  position: absolute;
  width: 270px;
  height: 251px;
}
/* DIRECTIONS */
.directions {
  position: absolute;
  width: 1170px;
  height: 386px;
  margin-left: 215px;
  margin-top: 1119px;
}
.directions h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.directions h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

/* TEAM */

.team {
  position: absolute;
  width: 1600px;
  height: 702px;
  margin-left: 0px;
  margin-top: 1599px;
  background-color: var(--seckond-bg-color);
}
.team h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team a {
  display: inline-block;
  padding: 1px 1px;
  border-radius: 10px;
  font-family: var(--font-family);
  color: var(--text-color);
}
.team a:hover,
.team a:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}

/* CUSTOMERS */
.customers {
  position: absolute;
  width: 1170px;
  height: 182px;
  margin-left: 215px;
  margin-top: 2395px;
}
.customers h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* PORTFOLIO */
.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
  margin-top: 174px;
}
.portfolio-info,
.portfolio-info ul {
  padding-left: 0px;
  width: 370px;
  height: 404px;
  margin-left: 215px;
  margin-top: 262px;
}

.portfolio-sorting ul {
  display: inline-block;
  position: absolute;
  width: 611px;
  height: 54px;
  padding: 0px;
  margin: 0px;
}
.portfolio-sorting a {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.portfolio-sorting a:hover,
.portfolio-sorting a:focus {
  display: inline-block;
  padding: 6px 22px;
  background-color: var(--accent-color);
  color: var(--light-color);
}

.portfolio-sorting li {
  display: inline-block;
  padding: 0px;
  margin: 0px, 8px, 16px;
}
.portfolio-sorting li:first-child {
  margin-right: 8px;
}
.portfolio-sorting li:last-child {
  margin-left: 8px;
}

.portfolio-info {
  margin-top: 34px;
}
.portfolio-info ul {
  padding-left: 0px;
  margin-top: 0px;
}
.portfolio-inf h1 {
  font-family: var(--font-family);
  visibility: hidden;
  font-size: 0;
}
.portfolio-info p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.portfolio-info h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: var(--title-font-size);
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-info b {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* FOOTER */
.footer {
  position: absolute;
  width: 1600px;
  height: 253px;
  margin-left: 0px;
  margin-top: 1628px;
  margin-right: auto;
  background-color: var(--footer-bg-color);
}
.footer .logo {
  position: absolute;
  width: 153px;
  height: 31px;
  padding: 0px;
  margin-left: 214px;
  margin-top: 1673px;
}
.footer .logo-blue {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--accent-color);
}
.footer .logo-black {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
}

.address-footer {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-font-size);
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--light-color);
}
.address-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.social b {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.social a {
  display: inline-block;
  padding: 1px 1px;
  border-radius: 10px;
  font-family: var(--font-family);
  background-color: var(--text-color);
  color: var(--light-color);
}
.social a:hover,
.social a:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}
.subscribe b {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.subscribe [type="text"] {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.subscribe [type="submit"] {
  display: inline-block;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}
footer p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
